.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins
.idea/

spacelaunchnow_flutter.iml
config.yaml
api-keys.json
ios/Runner/GoogleService-Info.plist
ios/Flutter/flutter_export_environment.sh
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
.gradle/
