.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins
.idea/

spacelaunchnow_flutter.iml
config.yaml
api-keys.json
ios/Runner/GoogleService-Info.plist
ios/Flutter/flutter_export_environment.sh
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
.gradle/
.flutter-plugins-dependencies
ios/Flutter/flutter_export_environment.sh*
ios/.symlinks**
pubspec.lock
macos/Flutter/ephemeral/flutter_export_environment.sh
macos/Flutter/ephemeral/Flutter-Generated.xcconfig
