<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.spacelaunchnow.spacelaunchnow_flutter">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <application usesCleartextTraffic="true">
        <!-- possibly other elements -->
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
