<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610310574961-g4aqhlvabn5eckam55kos5hoicrrtnvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610310574961-g4aqhlvabn5eckam55kos5hoicrrtnvj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>610310574961-52or82fnmqohinpab58n6epn4rvri2bt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArmegAZD0BhF25rCji2vXmhSt3wRAtV6M</string>
	<key>GCM_SENDER_ID</key>
	<string>610310574961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.spacelaunchnow.spacelaunchnow</string>
	<key>PROJECT_ID</key>
	<string>space-launch-now</string>
	<key>STORAGE_BUCKET</key>
	<string>space-launch-now.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610310574961:ios:000f05cac2dcfe10</string>
	<key>DATABASE_URL</key>
	<string>https://space-launch-now.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-9824528399164059~3133099497</string>
</dict>
</plist>